@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


:root {
  --primary: rgb(255, 255, 255);  
  --secondary: #1f0660;  
  --tertiary:  #710bc2; 
  --white: rgb(240, 242, 245);
  --light-black: rgb(115 115 129);
  --black:  rgb(17, 17, 22);
  --light-gray: #e8e9ec;
  --dark-gray: #5f6064;
  --red: rgb(255, 0, 0); 
  --green: rgb(39, 196, 152); 
  --dark-pink: rgb(230, 0, 122);  
 
}
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  position: relative;
}

 body {
   background-color:  var(--white);
 }

h1, h2, h3, h4,h5, h6, p {
  margin: 0!important;
}
 

.app { 
  overflow: hidden;
}

 

.routes {
  padding: 20px;
  min-height: 100vh;  
 
}
 

.ant-table-thead > tr > th {
  display: none;
}

.ant-table-cell {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--secondary);

}

.ant-table-pagination.ant-pagination { 
  display: none;
}


.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  height: 45px!important;
  border-radius: 5px!important; 
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 18px;
  padding-top: 7px;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input { 
  height: 45px;
}



/* 
==================================
            MEDIA QUERY
==================================
*/
@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }  
}

@media (max-width: 890px){

  .ant-table-cell{
    font-size: .8rem;

  }
}

/* 
.coin-detail-container {
  margin: 30px;
}

  
.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--blue);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--blue);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--blue);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

.select-news {
  width: 100%;
}

 

.news-card img {
  margin-right: 20px;
  max-height: 100px;
  border-radius: 100%;
}
 

.news-card p {
  color: black;
  margin: 10px 0px !important;
}
.provider-container {
  display: flex;
  justify-content: space-between;  
}
 

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title {
  color: #0071bd !important;
}
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change {
  font-weight: 900 !important;
}
.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}


.exchange-image {
  margin: 0px 10px !important;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 35%;
}
 


.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

 
 

.ant-card-body {
  padding: 8px !important;
} */

.colorGreen {
  color: var(--green);
}


.colorRed {
  color: var(--red);
}

/* .ant-card { 
  background-color: #0f0e12;
  color: #5F6064;
  border-radius: 3px;
  box-shadow: 0 0 11px rgb(0 0 0 / 60%);
} 

.ant-menu.ant-menu-dark {
  background-color: #0F0F10;
} */